
/* Copied this code from google fonts website */


.fraunces-font {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
  }

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500, 700;
    font-style: normal;
  }

/* CSS default/reset styling */

html, body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat';
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    width: 100%;
    height: 100%;
}

/* Global styling for document -- this section applies to mobile and desktop */

/* Main box for perfume info and content */
main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    overflow: hidden;
}

/* Product-type */
h1 {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat';
    font-variant-caps: all-small-caps;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 0;
}

/* Perfume-title */
h2 {
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces';
    font-size: 32px;
    margin-top: 10px;
    line-height: 1;
}

.perfume-description {
    line-height: 2;
}

/* Pricing */

.price
{
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 30px;
    margin-bottom: 0;
}

#sale-price {
    font-family: 'Fraunces';
    color: hsl(158, 36%, 37%);
    font-size: 32px;
    font-weight: 700;
    padding-right: 20px;
    padding-top: 0;
    margin-top: 0;
    line-height: .5;
}

#full-price {
    font-family: 'Montserrat';
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    padding-top: 0;
    margin-top: 0;
}

/* Button related details */

h3 {
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat';
    font-size: 14px;
    padding-left: 10px;
}

#shopping-cart-icon {
    width: 14px;
    height: 14px;
    align-self: center;
}


button {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    padding: 2px;
    width: 100%;
    margin-top: 0;
}

/* Mobile Styling */

@media (max-width: 1300px)
{
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main {
        max-width: 350px;
    }

    .product-details {
        margin: 20px;
    }

    #mobile-perfume-image {
        max-width: 350px;
        padding: 0px;
        margin: 0px;
    }

    #desktop-perfume-image {
        display: none;
    }

}

/* Desktop Styling */

@media (min-width: 1300px)
{
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        display: flex;
        justify-content: center;
        width: 40%;
        height: 45%;
    }

    .product-image {
        width: 50%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .product-details {
        width: 45%;
        max-height: 100%;
        margin: 25px;
    }

    #mobile-perfume-image {
        display: none;
    }

    #desktop-perfume-image {
        min-width: 290px;
        max-width: 375px;
    }

}